---
layout: 'base-blog.njk'
---
       
<div class="article">
  <div class="article-header">
    <div class="article-header__data">
       <div>
        <h3 class="article-header__title"><a href="{{ url }}">{{ data.title }}</a></h3>
        <p class="article-header__meta"> by <span>{{ data.author }}</span> on <span>{{ date | postDate }}</span></p>
        <p class="article-header__description">{{ data.description }}</p>
        <p class="article-header__description">{{ data.body }}</p>
      </div>
    </div>
    <div class="article-header__image" >
      <img src="{{ data.image }}" alt="{{ data.imageAlt }}" class="snippet__image">
    </div>
  </div>
  <div class="article-content">
    {{ content | safe }}
  </div>
</div>