---
layout: 'base-blog.njk'
---
       
<div class="article">
  <div class="article-header">
    <div class="article-header__data">
      <div>
        <h3 class="article-header__title">{{ title }}</a></h3>
        <p class="article-header__meta"> by <span>{{ author }}</span> on <span>{{ date | postDate }}</span></p>
        <p class="article-header__description">{{ description }}</p>
      </div>
    </div>
    <div class="article-header__image" >
      <img src="{{ image }}" alt="{{ imageAlt }}">
    </div>
  </div>
  <div class="article-content">
    {{ content | safe }}
  </div>
</div>