        <!--==================== FOOTER ====================-->
        <footer class="footer section">
            <div class="footer__container container grid">
                <div class="footer__content grid">
                    <div class="footer__data">
                        <h3 class="footer__title">SNC</h3>
                        <p class="footer__description">SOCIÉTÉ DE SPORTS NAUTIQUES ET DE PÊCHE <br> CARRY-LE-ROUET 13620, <br> Quai Emile Vayssière
                        </p>
                        <div class="positionsided">
                            <a href="https://www.facebook.com/groups/401811377815936" target="_blank" class="footer__social">
                                <i class="ri-facebook-box-fill"></i>
                            </a>
                            <a href="https://nautic-carry.fr/admin" target="_blank" class="footer__social2">
                                <i class="ri-chat-settings-fill"></i>
                            </a>
                            
                        </div>

                    </div>
    
                    <div class="footer__data">
                        <h3 class="footer__subtitle">A Propos</h3>
                        <ul>
                            <li class="footer__item">
                                <a href="/#about" class="footer__link">A Propos</a>
                            </li>
                            <li class="footer__item">
                                <a href="/blog/" class="footer__link">Blog</a>
                            </li>
                            <li class="footer__item">
                                <a href="https://www.helloasso.com/associations/societe-nautique-carry" class="footer__link">Nous rejoindre</a>
                            </li>
                            
                        </ul>
                    </div>
    
                    <div class="footer__data">
                        <h3 class="footer__subtitle">Association</h3>
                        <ul>
                            <li class="footer__item">
                                <a href="/nous/" class="footer__link">Notre Equipe</a>
                            </li>
                            <li class="footer__item">
                            <a href="/#contact" class="footer__link">Nous contacter</a>
                            </li>
                            <li class="footer__item">
                                <a href="/mentionlegales/" class="footer__link">Mentions légales</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="footer__rights">
                    <p class="footer__copy"><!--&#169;--> Association loi 1901 à but non lucratif, déclarée à la Sous-Préfecture d'Istres N°1526 le 25.08.1947</p>
                    <!--<div class="footer__terms">
                        <a href="#" class="footer__terms-link">Terms & Agreements</a>
                        <a href="#" class="footer__terms-link">Privacy Policy</a>
                    </div>-->
                </div>
            </div>
        </footer>