<header class="header scroll-header">
            <nav class="nav container">
                <a href="/#" class="nav__logo">Société Nautique de Carry-Le-Rouet</a>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="/#about" class="nav__link">Nous</a>
                        </li>
                        <li class="nav__item">
                            <a href="/#blog" class="nav__link, navlight">Blog</a>
                        </li>
                        <li class="nav__item">
                            <a href="/#fishing" class="nav__link">École de Pêche</a>
                        </li>
                        <li class="nav__item">
                            <a href="/#discover" class="nav__link">Permis Bâteau&emsp;&emsp;</a>
                        </li>
                    </ul>

                    <div class="nav__dark">
                        <!-- Theme change button -->
                        <span class="change-theme-name">Dark mode</span>
                        <i class="ri-moon-line change-theme" id="theme-button"></i>
                    </div>

                    <i class="ri-close-line nav__close" id="nav-close"></i>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class="ri-function-line"></i>
                </div>
            </nav>
        </header>