---
title: Société Nautique de Carry
layout: 'base-home.njk'
---

<main class="main">
            <!--==================== HOME ====================-->
            <section class="home" id="home">
                <img src="assets/img/home4.jpg" alt="" class="home__img">

                <div class="home__container container grid">
                    <div class="home__data">
                        <span class="home__data-subtitle">SOCIÉTÉ DE SPORTS NAUTIQUES ET DE PÊCHE</span>
                        <h1 class="home__data-title">SOCIETE NAUTIQUE
                            <br> <b>CARRY-LE-ROUET</h1>
                        <span class="home__data-subtitle">École de pêche, Permis Bâteau et Évènements.</span>
                     
                      <a href="https://www.helloasso.com/associations/societe-nautique-carry/adhesions/adhesion-snc" class="button" >Devenir Adhérent</a>
                    </div>

                    <div class="home__social2">
                        <a href="https://www.facebook.com/groups/401811377815936" target="_blank" class="home__social-link2">
                            <i class="ri-facebook-box-fill"></i>
                        </a>
                    </div>

                               
                </div>
            </section>

            <!--==================== ABOUT ====================-->
            <section class="about section" id="about">
                <div class="about__container container grid">
                    <div class="about__data">
                        <h2 class=" about__title">Qui sommes-nous?</h2>
                            <p class="about__description">
                            <p class="about0">
                            
La Société Nautique de Carry le Rouet a été créée en 1947 (loi 1901) et dispose des agréments et certifications nécessaires à son activité. 
                            <br>  &emsp;• Agréée par le Ministère de la Jeunesse et des Sports (n°24) 
                                
                            <br> <br> 
                            Notre association est un acteur majeur dans l'activité orientée
vers la mer à Carry-le-Rouet.
Son Président, le Bureau et l'ensemble du Conseil d'Administration sont des plaisanciers confirmés et amoureux de la mer. <br> <br> 

La SNC met à votre disposition son bateau école et ses 3 moniteurs diplômés d’État, ainsi que le matériel pédagogique technique et sécuritaire pour vous faire passer rapidement vos permis bateaux Côtiers Hauturiers et VHF. <br>
&emsp;• Certification DDTM du Bateau École N° 013016/2018
<br><br>  La SNC dispose d’une École de Pèche Enfants (8 à 14 ans) pour initiation à la pêche en mer et à l’environnement marin ! <br>
 &emsp;• Membre de la Fédération Française des Pêcheurs en Mer (n° 713224) <br>
 &emsp;• Agréé par la FFPM pour son Ecole de Pêche (n° 07072) qui met à votre disposition 10 moniteurs Diplômés d’Etat.
                        </p></p>
                      <!--  <a href="#" class="button">Reserve a place</a>-->
                    </div>

                    <div class="about__img">
                        <div class="about__img-overlay">
                            <img src="assets/img/logo.gif" alt="" class="about__img-one">
                        </div>

                        <div class="about__img-overlay">
                            <img src="assets/img/QSM.png" alt="" class="about__img-two">
                        </div>
                    </div>
                </div>
            </section>



         <!--==================== BLOG ====================-->
            <section class="blog section" id="blog" bg=#11414B>
                <div class="blog__container container grid">
                    <div class="blog__data">
                    <br><br>
                        <h2 class="section__title blog__title">BLOG DE LA SNC</h2>
                        <p class="blog__description">
                            
                            Le Site de la SNC possède désormais un BLOG avec toutes les annonces concernant les informations sur:  <br>
                            • L'École De Pêche <br> 
                            • Les Formations Permis <br> 
                            • Les Évènements</p>
                             <a href="/blog/" class="buttonblog">Voir le Blog</a> <br><br><br>
                    </div>
                    
                </div>
            </section>

            <!-- =================== FISHING COURSES =================== -->

<section class="fishing section" id="fishing">
    <h2 class="section__title">École de pêche</h2>

    <div class="fishing__container container grid">
        
        <!-- <a href="/peche/" class="buttonpeche">En savoir plus!</a>-->
        <div class="fishing__content grid"> 
            <div >
                <h3>La SNC dispose d’une École de Pèche Enfants (8 à 14 ans) pour initiation à la pêche en mer et à l’environnement marin !</h3> <br>
                <h4 class="title"> <strong> <u><i>UNE ECOLE DIFFERENTE POUR LES VACANCES:</i></u><strong></h4>
                <br> 
                <p class="fishing__text"> « Dans nos classes, pas de murs, pas de fenêtres, pas de portes, seul l’horizon nous limite. <br>
                Tous nos moniteurs, sont diplômés d'État.<br>
                Pour la sécurité des enfants, ils sont formés par nos sympathiques pompiers du SDISS au diplôme de premiers secours ! (PSC1)<br>
                &emsp;&emsp;Leurs stylos ? Des <span class="fishingsquid">cannes à pêche</span> !! <br>
                &emsp;&emsp;Leur encre ? Celle du <span class="fishingsquid">bateau </span>! <br>
                &emsp;&emsp;Leurs plumes ? Les appâts de <span class="fishingsquid">NORMANDY APPATS</span> ! <br>
                Une session spéciale offerte par le Parc Marin de Carry apprendra à vos enfants tout ce que vous ne savez pas, sur la mer et son environnement !!<br>
                <u>Votre seul problème</u> : Que faire des paniers pleins de poissons au retour de l’École ?<br>
                Nous y avons pensé ! <br>
                
                
                 <span class="fishingsquid">Francis Bernard maître d'École de Pêche</span>
                  vous offre sa recette de soupe de poissons : une introduction à sa fameuse Bouillabaisse !!! » <br><br>
                  <a href="/peche/" class="buttonpeche">École De Pêche</a>
            </p>
            </div>
            
            <div class="fishing__img grid">
                        <div class="fishing__overlay">
                            <img src="assets/img/NEAVSW1.png" alt="" class="experience__img-one">
                        </div>
                        
                        <div class="fishing__overlay">
                            <img src="assets/img/fishlingschool1.jpeg" alt="" class="experience__img-two">
                        </div>
            </div>
        </div>
    </div>
</section>



    
            
  <!--==================== discover2 ====================-->
  <section class="discover section" id="discover">
    <h2 class="section__title">Obtenez votre <br> Permis bateau (ou VHF)</h2>
    
    <div class="discover__container container swiper-container">
        <div class="swiper-wrapper">


            <!--==================== discover2 2 ====================-->
            <div class="discover__card swiper-slide">
                <img src="assets/img/HAUTURIER.png" alt="" class="discover2__img">
                <div class="disco1 discover2__data">
                    <h2 class="disco1 discover2__title">PERMIS HAUTURIER</h2>
                    <span class="disco1 discover2__description">Le Permis Mer Extension Hauturier permet de naviguer sans limite de distance, de jour comme de nuit.
                        Il est donc nécessaire d’être titulaire de ce permis si vous souhaitez effectuer une traversée, par exemple pour vous rendre en Corse ou en Sardaigne…</span>
                </div>
            </div>

                        <!--==================== discover2 3 ====================-->
            <div class="discover__card swiper-slide">
                <img src="assets/img/VHF.png" alt="" class="discover2__img">
                <div class="disco1 discover2__data">
                    <h2 class="disco1 discover2__title">PERMIS RADIO VHF-ASN</h2>
                    <span class="disco1 discover2__description">La section de formation permis VHF vous permet d’obtenir la licence CRR
                        VHF-ASN.
                        </span>
                </div>
            </div>

            <!--==================== discover2 4 ====================-->
            <div class="discover__card swiper-slide">
                <img src="assets/img/DIFF.png" alt="" class="discover2__img" >
                <div class="disco1 discover2__data">
                    <h2 class="disco1 discover2__title">Quelle est la différence?</h2>
                    <span class="disco1 discover2__description">Cliquez ci-dessus pour connaître la différence entre les Permis Côtier et Hauturier.</span>
                </div>
            </div>



         <!--==================== discover2 1 ====================-->
            <div class="discover__card swiper-slide">
                <img src="assets/img/COTIER.png" alt="" class="discover2__img">
                <div class="disco1 discover2__data">
                    <h2 class="disco1 discover2__title">PERMIS MER CÔTIER</h2>
                    <span class="disco1 discover2__description">Le Permis Mer Option Côtière permet de naviguer en mer jusqu’à 6 milles d’un abri de jour comme de nuit. Seul un bateau-école agréé par la DDTM13 est habilité à former un candidat au passage d’un permis Côtier.
                    </span>
                </div>
            </div>

           


        </div>
 
    </div>
    <div class="section formation container">
        <br><br>    
        <h4 class="section__title">POURQUOI PASSER SON PERMIS BATEAU AVEC LA SNC ???</h4>

        <p class="blog__description"><div class ="animationtext">
<h3>REUSSIR SON PERMIS CÔTIER :</h3> <br>

L'Examen (« le Code »)  se passe en salle d’Examen selon vos choix  <br><br>

<span class="fishingblack">Apprendre la signalisation</span> : C’est <span class="fishingsquid">VOTRE</span> travail : révision et mémorisation<br>
<span class="fishingblack">Comprendre la signalisation</span> : C’est <span class="fishingsquid">NOTRE</span> <span class="fishingblack">SAVOIR-FAIRE</span> :<br><br>
</div>

<div class="alinea">
1)	<span class="fishingblack">Travail en salle de cours</span> : apprendre la terminologie marine, découvrir les parties techniques d’un bateau, apprendre à faire des nœuds marins.<br>
&emsp;&emsp;•	Explications des cas difficiles, du langage marin, des règles de sécurité… <br>
&emsp;&emsp;• 	Nos moniteurs brevetés, Capitaines de navires diplômés, sont disponibles pour votre réussite.<br>
&emsp;&emsp;•   Comprendre les manœuvres selon les types de bateaux, c’est <span class="fishingsquid">NOTRE</span> métier.<br>
2)	<span class="fishingblack">Travail en mer</span> : Sous la protection de votre moniteur, 2 heures minimum seul aux commandes du bateau, pour apprendre à le piloter et à effectuer toutes les manœuvres décisives sur un bateau !<br><br>
</div> 
<h3 class="titrepermis">NOTRE BUT :</h3> <br>
<div class="alinea">
Réussir à faire de vous un (une) <span class="fishingsquid">CAPITAINE DE NAVIRE</span> !<br>
Trop d'écoles se contentent de vous faire passer un permis ! Ce n’est pas suffisant quand on est seul maitre (après Dieu) sur un bateau. <br>
<span class="fishingblack">Le capitaine est légalement le seul responsable de la Sécurité des personnes et des biens sur son bateau.</span> Il se doit d’être compétent, et pas seulement être possesseur d’un permis !<br><br>
</div>
<h3 class="titrepermis">NOTRE SEUL SALAIRE :</h3> <br>
<div class="alinea">
Votre sourire de satisfaction lorsque votre moniteur vous délivre <span class="fishingsquid">VOTRE</span> permis marin. <br>
<span class="fishingsquid">Nous sommes tous bénévoles et professionnels de la Mer. </span> <br>
Notre motivation c’est de vous transmettre notre passion pour la Mer et son environnement. <br>
<span class="fishingsquid">LA SOCIETE NAUTIQUE A L’UN DES TAUX DE REUSSITE LE PLUS ELEVE: </span><br>
                             92 % de nos candidats réussissent le permis côtier au 1er Examen.<br><br>
</div>
<h3 class="titrepermis">PERMIS HAUTURIER :</h3><br>
<div class="alinea">
	Classes composées de 4 élèves maximum afin de pouvoir travailler et comprendre les règles de navigation en haute mer.<br>
	<span class="fishingblack">Nos moniteurs brevetés </span>sont capables de vous apprendre en 4 sessions de 4 heures les nécessaires connaissances que vous devrez utiliser le jour de l’examen !<br>
Seul <span class="fishingsquid">VOTRE</span> travail (associé à <span class="fishingsquid">NOTRE SAVOIR-FAIRE</span>) vous donnera les bases pour une réussite totale !<br>
               <br><br>
</div><div class ="animationtext">
<span class="fishingblack">PERMIS VHF</span> : Licences <span class="fishingblack">CRR-VHF-ASN</span> : <br> Nouvelle règlementation en vigueur depuis Janvier 2017 (nous consulter)
</div>
        </p>
    </div><br>  
   <div class="centered__title"> <a href="/permis/" class="buttonpermis">Nos Formations</a> </div>
</section>





<!--==================== ANIMATIONS ====================-->

<section class="discover section" id="animation">
    <h1 class="section__title">Animations</h1>
    <p class="contact__description contact__data">(survolez et tournez les images)</p>
    <div class="discover__container container swiper-container">
        <div class="swiper-wrapper CARDTEST">


            <!--==================== DINER DE GALA ====================-->
       
            <div class="discover__card swiper-slide">
                <img src="assets/img/DINERGALA.png" alt="" class="discover__img">
                <div class="discover__data">
                    <h3 class="discover__title">DINER DE GALA</h3>
                    <span class="discover__description">Tous les ans, au mois de décembre, le DINER DE GALA de la SNC Carry se déroule dans la magnifique salle du GRAND BLEU. 
                    Diner dansant avec orchestre, préparé par les meilleurs traiteurs de la Région. Participation des personnalités municipales et régionales </span>
                    </div>
            </div>
        

                        <!--==================== BENEDICTION DES BATEAUX ====================-->
            <div class="discover__card swiper-slide">
                <img src="assets/img/BENEDICTIONBATEAUX.png" alt="" class="discover__img">
                <div class="discover__data">
                    <h3 class="discover__title">BENEDICTION DES BATEAUX </h3>
                    <span class="discover__description">Traditionnelle cérémonie organisée conjointement avec la Municipalité de Carry : chaque année autour de la Saint Pierre, patron des pêcheurs, tous les Carryens sont les bienvenus, et une centaine de personnes embarque sur le navire Amiral L’ALBATROS, mis gratuitement à notre disposition par son sympathique propriétaire.
                        </span>
                </div>
            </div>

            <!--==================== NETTOYAGE DU PORT DE CARRY ====================-->
            <div class="discover__card swiper-slide">
                <img src="assets/img/NETTOYAGEPORT.png" alt="" class="discover__img" >
                <div class="discover__data">
                    <h3 class="discover__title">NETTOYAGE DU PORT DE CARRY</h3>
                    <span class="discover__description">Tous les 2 ans la Société Nautique Carry en partenariat avec la Municipalité la Métropole et une vingtaine d’associations régionales dont les clubs de plongées organise le nettoyage du port de Carry</span>
                </div>
            </div>



         <!--==================== LES OURSINADES DE « LA NAUTIQUE » ====================-->
            <div class="discover__card swiper-slide">
                <img src="assets/img/OURSINADE.png" alt="" class="discover__img">
                <div class="discover__data">
                    <h3 class="discover__title">OURSINADES DE <br>« LA NAUTIQUE »</h3>
                    <span class="discover__description">En Février, chaque année, pendant la période des oursinades de Carry la Société Nautique organise ses propres oursinades. Repas festif et pantagruélique, autour de l’Oursin « emblème » de la gastronomie de Carry. Réservé aux adhérents et leurs invités ce moment de partage met à l’honneur l’Amitié et le goût de la fête en n’oubliant pas la gastronomie locale !</span>
                </div>
            </div>

            <!--==================== LA SOIREE BEAUJOLAIS NOUVEAU ====================-->
            <div class="discover__card swiper-slide">
                <img src="assets/img/BEAUJOLAIS.png" alt="" class="discover__img">
                <div class="discover__data">
                    <h3 class="discover__title">SOIREE BEAUJOLAIS NOUVEAU</h3>
                    <span class="discover__description">L’arrivée du Beaujolais Nouveau sert de prétexte à la SNC pour fêter l’amitié et le regroupement de nos adhérents autour d’un plat traditionnel et qui s’accommode avec ce fameux vin jeune dont les premières cuvées sont fêtées dans le monde entier !! Les adhérents et leurs amis sont les bienvenus (réservations obligatoires places limitées)</span>
                </div>
            </div>

            <!--==================== LES SORTIES A THÈME ET VOYAGES ====================-->
            <div class="discover__card swiper-slide">
                <img src="assets/img/SORTIESTHEMES.png" alt="" class="discover__img">
                <div class="discover__data">
                    <h3 class="discover__title">LES SORTIES A THÈME ET VOYAGES</h3>
                    <span class="discover__description">Dernière sortie : LA CAMARGUE et ses MAS visite en bateau des canaux camarguais d’AGUES-MORTES et animations au Mas de la Comtesse avec sa traditionnelle et délicieuse Gardiane !</span>
                </div>
            </div>

           


        </div>
 
    </div>
</section>
            <!--==================== EXPERIENCE ====================-->
            <section class="experience section">
                <h2 class="section__title">Notre expérience <br> A votre service</h2>

                <div class="experience__container container grid">
                    <div class="experience__content grid">
                        <div class="experience__data">
                            <h2 class="experience__number">1947</h2>
                            <span class="experience__description">Création de<br> L'association</span>
                        </div>

                        <div class="experience__data">
                            <h2 class="experience__number">92%</h2>
                            <span class="experience__description">De réussite<br> Des stagiaires en 2020</span>
                        </div>

                        <div class="experience__data">
                            <h2 class="experience__number">≃200</h2>
                            <span class="experience__description">Adhérents <br> chaque année</span>
                        </div>
                    </div>

                    <div class="experience__img grid">
                        <div class="experience__overlay">
                            <img src="assets/img/SIEGE.png" alt="" class="experience__img-one">
                        </div>
                        
                        <div class="experience__overlay">
                            <img src="assets/img/NEAVSW2.png" alt="" class="experience__img-two">
                        </div>
                    </div>
                </div>
            </section>
<br><br><br>

                <!--==================== CONTACT ====================-->
                <section class="contact section" id="contact">
                <div class="contact__container container grid">
                    <div class="contact__data">
                        <h1 class="section__title contact__title">CONTACT</h1>
                        <p class="contact__description">Permanences les mercredis et samedis de 10h à 12h ou sur rendez-vous.</p> 
                        <a class="contact__description1" href="mailto:snccarry@orange.fr" >E-MAIL: snccarry@orange.fr</a>
                        <a class="contact__description1" href="tel:+33442451312">TEL:  04 42 45 13 12</a>
                        
                    </div>
                </div>
            
            <!--==================== SPONSORS ====================-->
            <section class="sponsor section">
                <div class="sponsor__container container grid">
                          <div class="sponsor__content">
                        <img href="https://www.helloasso.com/associations/societe-nautique-carry/" src="assets/img/sponsors6.png" alt=""  class="sponsor__img" >
                    </div>
                </div>
            </section>
        </main>

