---
title: Formations Permis Bâteau
layout: 'base.njk'
---


<br><br><br><br>

<h1 class="section__title contact__title">Comment s'inscrire?</h1>

<h2 class="centered__title">Payez en ligne</h1><br>
<p class="contact__data">Vous pouvez désormais payer l'inscription en ligne via HelloAsso!</p>
<p class="contact__data">Cliquez sur le bouton ci-dessous pour accéder à la page de paiement.</p><br>
<iframe id="haWidget" allowtransparency="true"  src="https://www.helloasso.com/associations/societe-nautique-carry/evenements/formations-aux-permis-plaisance/widget-bouton" style="width: 100%; height: 70px; border: none;"></iframe>


<p class="contact__data" style="color:red">Attention, le paiement ne suffit pas à finaliser votre dossier, <br> vous devez être adhérent à la SNC et nous remettre les documents en bas de la page.</p><br>
{# Co pilot réécrire le texte du dessus en rouge et gras #}
<p class = "contact__data">Si vous n'êtes pas adhérent, vous pouvez le devenir en cliquant sur le bouton ci-dessous.</p><br>
<iframe id="haWidget" allowtransparency="true"  src="https://www.helloasso.com/associations/societe-nautique-carry/adhesions/adhesion-snc-1/widget-bouton
" style="width: 100%; height: 70px; border: none;"></iframe>

<h2 class="centered__title">Remplissez ces documents et faites les nous parvenir</h1><br>
<p class="contact__data">Vous pouvez venir au siège pour faire les documents si vous le souhaitez, infos plus en dessous.</p><br><br>

<div class="centerediv">
 <div class="maincontainer">
    
    
      <div class="thecard">

        <div class="thefront"><h1>Présentation <br>de la Formation</h1><p>Document présentant la formation au permis côtier.</p></div>

        <div class="theback"><h1>Présentation <br>de la Formation</h1>
        <br>
           <a class="BoutonImage" href="/assets/docs/PRESENTATION_PERMIS_COTIER.pdf">
          <img src="/assets/img/DLBUTTON.png" id="BoutonImage">
          </a>
          </div>

      </div>
            <div class="thecard">

        <div class="thefront"><h1>Certificat d'Aptitude Physique</h1><p>Certificat d'aptitude physique des formateurs au titre de conduite des bateaux de plaisance a moteur en vue de l'obtention d'une autorisation d'enseigner.
</p></div>

        <div class="theback"><h1>Certificat d'Aptitude Physique</h1><p>Remplissez ce document puis faites le nous parvenir par mail ou au siège de la SNC.</p>
        <br>
           <a class="BoutonImage" href="/assets/docs/CERTIFICAT_MEDICAL.pdf"> 
          <img src="/assets/img/DLBUTTON.png" id="BoutonImage">
          </a>
        </div>

      </div>
            <div class="thecard">

        <div class="thefront"><h1>Demande d’inscription</h1><p>Demande d’inscription à une option de base du permis de conduire des bateaux de plaisance à moteur.</p></div>

        <div class="theback"><h1>Demande d’inscription</h1><p>Remplissez ce document puis faites le nous parvenir par mail ou au siège de la SNC.</p>
        <br>
           <a class="BoutonImage" href="/assets/docs/INSCRIPTION_PERMIS.zip"> 
          <img src="/assets/img/DLBUTTON.png" id="BoutonImage">
          </a>
        </div>

      </div>
            <div class="thecard">

        <div class="thefront"><h1>Adhésion</h1><p>Demande d'adhésion à la société nautique Carry-le-rouet.</p></div>

        <div class="theback"><h1>Adhésion</h1><p>Remplissez ce document puis faites le nous parvenir par mail ou au siège de la SNC.</p>
        <br>
        <a class="BoutonImage" href="/assets/docs/DEMANDEADHESION230101.pdf">
          <img src="/assets/img/DLBUTTON.png" id="BoutonImage">
          </a>
        </div>

      </div>

     
    </div> <br><br>
<p class="contact__data">Timbre fiscal à télécharger sur le site dédié :</p>

<a class="contact__data ; contact__description1" href="http://www.service-public.fr">http://www.service-public.fr</a>
    
</div>
 <section class="contact section" id="contact">
                <div class="contact__container container grid">
                    <div class="contact__data">
                        <h1 class="centered__title">Puis Contactez-nous pour trouver une date:</h1><br>
                        <p class="contact__description">Permanences les mercredis et samedis de 10h à 12h ou sur rendez-vous.</p> 
                        <a class="contact__description1" href="mailto:snccarry@orange.fr" >E-MAIL: snccarry@orange.fr</a>
                        <a class="contact__description1" href="tel:+33442451312">TEL:  04 42 45 13 12</a>
                        
                    </div>
                </div>
</section>
