---
title: Mentions Légales
layout: 'base.njk'
---
    <!--==================== LEGAL ====================--><br> <br> 
       <section class="legal section" id="legal">
           <div class="legal__container container grid">
               <div class="legal__data">
                   <h2 class="section__title legal__title">MENTION LEGALES</h2>
                   <h3>Société Nautique de Carry-le Rouet</h3>
                   <p class="legal__description">
                       Espace Nautique Roger Grange <br>
                       13620 CARRY LE ROUET <br>
                       E-mail : snccarry@orange.fr <br>
                       Tél 04.42.45.13.12 <br>
                   </p>
                   <h3>Directeur de la publication : Francis FAURE</h3>
                   <p class="legal__description">
                       Président de la Société Nautique de Carry-le-Rouet
                   </p>
                   <h3>Réalisation du site:</h3>
                   <p class="legal__description">
                       de.brito.ln@gmail.com <br>
                       cesairepro@gmail.com  <br>
                   </p>
                   <h3>Hébergement : Société PlanetHoster</h3>
                   <p class="legal__description">
                       Adresse postale: PlanetHoster, 4416 Louis B Mayer,Laval, Quebec, H7P 0G1 Canada
                   </p>
                   <h3>Droits d’auteur – copyright</h3>
                   <p class="legal__description">
                       Le site nautic-carry.fr est la propriété de la Société Nautique de Carry-le-Rouet.
                       <br>L’ensemble des contenus (photos, vidéos, textes, etc…) consultables sur le site nautic-carry.fr est et demeure la propriété exclusive de la Société Nautique de Carry-le-Rouet. Toute reproduction même partielle est strictement interdite conformément au Code de la Propriété Intellectuelle. Vous n’êtes donc pas habilité à reproduire, représenter ou commercialiser ces contenus.
                       <br> La reproduction de tout ou partie de ce site sur un support électronique quel qu’il soit est formellement interdite sauf autorisation expresse de la Société Nautique de Carry-le-Rouet.
                       <br> Les crédits photos sont : la Société Nautique de Carry-le-Rouet, marseilletourisme.fr pour le fond d'écran de l'accueil.
                   </p>
                   <h3>Contenu et informations</h3>
                   <p class="legal__description">
                       Les informations de ce site sont données à titre indicatif et ne sauraient engager la responsabilité de leurs auteurs. Les documents proposés sur ce site ne sont pas contractuels.
                       <br> La Société Nautique de Carry-le-Rouet ne pourra être tenue responsable de pertes ou de dommages de quelque nature que ce soit, qu’il s’agisse, notamment mais non exclusivement, de dommages directs, indirects ou consécutifs, de nature financière ou commerciale, résultant de l’utilisation du site nautic-carry.fr ou à tout autre site ayant un lien avec le site nautic-carry.fr, à son utilisation, à son exploration ou à son téléchargement.
                   </p>
                   <h3>Liens vers d’autres sites</h3>
                   <p class="legal__description">
                       Le site nautic-carry.fr peut proposer des liens vers d’autres sites. Ces sites sont indépendants, la Société Nautique de Carry-le-Rouet ne saurait être responsable des contenus, des produits, des services présentés sur ces sites.
                   </p>



                 <!--  <a href="#" class="button">Reserve a place</a>-->
               </div>
           </div>
       </section>
