---
title: Notre Équipe
layout: 'base.njk'
---
    <!--==================== GRID ====================-->
<section class="ca__section" id="ca"> <br><br><br><br>
    <h1 class="section__title">CONSEIL d'ADMINISTRATION </h1>
    <div class="parentca">
                        <div class="ca__img-overlay">
                            <img src="" alt="" class="ca__img-one">

                        </div>

                        <div class="ca__img-overlay">
                            <img src="/assets/img/Image2.jpg" alt="" class="ca__img-two">
                            <h2 class="nomperso">Max TURINA</h2>
                            <h3 class="roleperso">Président</h3>
                        </div> 
                        <div class="ca__img-overlay">
                            <img src="" alt="" class="ca__img-three">
                        </div>

                        <div class="ca__img-overlay">
                            <img src="" alt="" class="ca__img-one">

                        </div>
                        <div class="ca__img-overlay">
                            <img src="/assets/img/Image10.jpg" alt="" class="ca__img-two">
                            <h2 class="nomperso">Loïc PARRAUD</h2>
                            <h3 class="roleperso">Vice-Président <br>Permis Bateaux</h3>
                            <br>
                        </div>
                        <div class="ca__img-overlay">
                            <img src="" alt="" class="ca__img-three">
                        </div>
                        

    </div>
    
    <div class="parentca4">
                        <div class="ca__img-overlay">
                            <br>
                            <img src="/assets/img/Image5.jpg" alt="" class="ca__img-four">
                            <h2 class="nomperso">Luc RETAIL</h2>
                            <h3 class="roleperso">Trésorier Général</h3>
                            <h3 class="roleperso">École de Pêche</h3>
                            <br>
                        </div> 
                        <div class="ca__img-overlay">
                            <br>
                            <img src="/assets/img/Image6.jpg" alt="" class="ca__img-five">
                            <h2 class="nomperso">Francis BERNARD</h2>
                            <h3 class="roleperso">Trésorier Adjoint</h3>
                            <h3 class="roleperso">École de Pêche</h3>
                            <br>
                        </div> 
                        <div class="ca__img-overlay">
                            <br>
                            <img src="/assets/img/P_BESSON.jpg" alt="" class="ca__img-six">
                            <h2 class="nomperso">Patrick BESSON</h2>
                            <h3 class="roleperso">Secrétaire Général</h3>
                            <h3 class="roleperso">École de Pêche</h3>
                            <br>
                        </div> 
                        <div class="ca__img-overlay">
                            <br>
                            <img src="/assets/img/Image8.jpg" alt="" class="ca__img-six">
                            <h2 class="nomperso">Claude FRANCHINI</h2>
                            <h3 class="roleperso">Secrétaire adjoint</h3>
                            <h3 class="roleperso">École de Pêche</h3>
                        </div> 

                        <div class="ca__img-overlay">
                            <br>
                            <img src="/assets/img/Image9.jpg" alt="" class="ca__img-four">
                            <h2 class="nomperso">Henri AUZER</h2>
                            <h3 class="roleperso">Permis Bateau</h3>
                            <h3 class="roleperso">Communication. Festivités</h3>
                        </div> 
                        <div class="ca__img-overlay">
                            <br>
                            <img src="/assets/img/Image14.jpg" alt="" class="ca__img-five">
                            <h2 class="nomperso">Philippe <br> MULLEMEESTER</h2>
                            <h3 class="roleperso">Permis Bateau</h3>
                            <h3 class="roleperso">Festivités</h3>
                        </div> 
                        <div class="ca__img-overlay">
                            <br>
                            <img src="/assets/img/JP_VERNET .jpg" alt="" class="ca__img-five">
                            <h2 class="nomperso">Jean Paul <br>VERNET</h2>
                            <h3 class="roleperso">École de Pêche</h3>
                            <h3 class="roleperso">Festivités</h3>
                        </div>
                        <div class="ca__img-overlay">
                            <img src="/assets/img/Image7.jpg" alt="" class="ca__img-five">
                            <h2 class="nomperso">Jean Paul <br>TOINON</h2>
                            <h3 class="roleperso">École de Pêche</h3>
                        </div> 
                        <div class="ca__img-overlay">
                            <img src="/assets/img/Image11.jpg" alt="" class="ca__img-six">
                            <h2 class="nomperso">Henri GABRELLE</h2>
                            <h3 class="roleperso">École de Pêche</h3>
                        </div> 
                        <div class="ca__img-overlay">
                            <img src="/assets/img/Image12.jpg" alt="" class="ca__img-six">
                            <h2 class="nomperso">Guy ROUVERAND</h2>
                            <h3 class="roleperso">École de Pêche</h3>
                        </div> 

                        <div class="ca__img-overlay">
                            <br>
                            <img src="/assets/img/Image13.jpg" alt="" class="ca__img-four">
                            <h2 class="nomperso">Serge TRAINA</h2>
                            <h3 class="roleperso">Communication. Festivités</h3>
                        </div> 
                        
                        <div class="ca__img-overlay">
                            <br>
                            <img src="/assets/img/Francis.jpg" alt="" class="ca__img-five">
                            <h2 class="nomperso">Francis FAURE</h2>
                            <h3 class="roleperso">Communication. Festivités</h3>
                        </div> 
    </div>   
</section>