---
title: 'Ecole de Peche'
layout: 'base.njk'
---

<main class="main">
<!--==================== ABOUT ====================--><br> <br> 
        <section class="about section">
            <div class="about__container container grid">
                <div class="about__data">
                    <h1 class="titrepeche section__title">ÉCOLE DE PÊCHE EN MER POUR LES ENFANTS (8 à 14 ans)</h2>
                    <p class="about__description">
                        <h2 class="centered__title">Présentation
                        </h2><br>
                        <h2>LES COURS :</h2>
                        <p class="legal__description">
                        Animés par les Moniteurs Fédéraux du club, ils sont répartis en:</p>
                        <h3>&emsp;Cours théoriques :</h3>
                        <p class="legal__description">
                            &emsp; Connaissance de la mer, biologie marine, faune et flore, 
                            <br>&emsp; sécurité en mer, météo, 
                            Technique de la pêche etc.
                           </p>
                        <h3>&emsp;Cours pratiques :
                        </h3>
                        <p class="legal__description">
                            &emsp; Technique des nœuds, montages des lignes, sorties en Mer 
                            <br>&emsp; pour pêche à la ligne.
                            <h2>LES MOYENS :
                        </h2>
                        <p class="legal__description">
                            La S.N.C. met à la disposition des élèves une salle de cours aménagée avec toutes les facilités à de bonnes
                            conditions d'études : Vidéo, rétroprojecteur, posters, tableaux, diapositives etc. ainsi que tout le matériel de pêche et de
                            sécurité pour les enfants.<br>
                            Les bateaux du club sont mis à disposition pour les sorties en mer
                        </p>
                        <div class="parentbutton">

                        <a href="https://docs.google.com/document/d/1AbyY9O4jlj6O0BwIEUizhvS6CluTkFlc/edit?usp=sharing&ouid=115891996737724050479&rtpof=true&sd=true" class="buttonpeche_ha">Organisation de la semaine</a>
                        <a href="https://www.helloasso.com/associations/societe-nautique-carry/" class="buttonpeche_ha">S'inscrire à l'école de pêche</a>
        
                    </div>
                  <!--  <a href="#" class="button">Reserve a place</a>-->
                </div>

                <div class="about__img">

                    <div class="about__img-overlay">
                        <img src="/assets/img/PecheNEW0.png" alt="" class="about__img-two">
                    </div>
                </div>
            
            </div>
            </section>
</main>