---
title: Formations Permis Bâteau
layout: 'base.njk'
---

<!--==================== ABOUT ====================-->
<div class="formation formationcenter">
        <br><br>    <br><br>    
        <h4 class="section__title">LE NOUVEAU PERMIS COTIER (Juin 2022)</h4>

        <p class="blog__description"><div class ="animationtext">
Il faut être adhèrent ou prendre une adhésion à la Société Nautique Carry si vous nous choisissez ! </div> <br>
    <h3 class="titrepermis">LE PERMIS BATEAU COTIER SE DIVISE EN DEUX PARTIES</h3>
<div class="alinea">
- Une formation théorique <br>
- Une formation pratique <br><br>
</div>
    <h3 class="titrepermis">LA FORMATION THÉORIQUE SE PRÉPARE SUR 3 DEMI-JOURNÉES</h3>
    <div class="alinea">
•	Un premier Week-End (le samedi matin et le dimanche matin) <br>
•	Le samedi suivant de 08 h 30 à 11 h 30 <br><br>
    Suite à cette formation, vous passez un QCM dans un organisme agréé de votre choix.
40 questions :<br> Il faut 35 bonnes réponses pour obtenir le code théorique.</div> <br><br>
<h3 class="titrepermis">LA FORMATION PRATIQUE SE PREPARE SUR 2 DEMI-JOURNÉES</h3>
<div class="alinea">
•	3 heures un samedi matin en collectif de 8 h 30 à 11 h 30 <br>
•	2 heures minimum de navigation<span class="fishingsquid"><b> en solo</b>    </span> (date à définir en fonction des disponibilités du formateur et de la météo) <br><br>
</div>
<div class="alinea"><div class="alinea">
<h3 class="titrepermis"><span class="fishingsquid">LA VALIDATION DEFINITIVE DU PERMIS EST FAITE PAR LES FORMATEURS DE LA SOCIETE NAUTIQUE CARRY AGRÉÉS PAR LA DDTM</span></h3>
<br><h3 class="titrepermis">AU TOTAL VOUS BENEFICIEZ A LA SNC DE 8 h de FORMATION
THEORIQUE ET DE 5 h de FORMATION PRATIQUE.
</h3> </div></div>
        </p>
    </div><br>  <br><br>


</section>
<h1 class="section__title contact__title">Comment s'inscrire?</h1>
<h2 class="centered__title">Remplissez ces documents et faites les nous parvenir</h1><br>
<p class="contact__data">Vous pouvez venir au siège pour faire les documents si vous le souhaitez, infos plus en dessous.</p><br><br>
<div class="centerediv">
 <div class="maincontainer">
    
    
      <div class="thecard">

        <div class="thefront"><h1>Présentation <br>de la Formation</h1><p>Document présentant la formation au permis côtier.</p></div>

        <div class="theback"><h1>Présentation <br>de la Formation</h1>
        <br>
           <a class="BoutonImage" href="/assets/docs/PRESENTATION _PERMIS_COTIER.docx"> 
          <img src="/assets/img/DLBUTTON.png" id="BoutonImage">
          </a>
          </div>

      </div>
            <div class="thecard">

        <div class="thefront"><h1>Certificat d'Aptitude Physique</h1><p>Certificat d'aptitude physique des formateurs au titre de conduite des bateaux de plaisance a moteur en vue de l'obtention d'une autorisation d'enseigner.
</p></div>

        <div class="theback"><h1>Certificat d'Aptitude Physique</h1><p>Remplissez ce document puis faites le nous parvenir par mail ou au siège de la SNC.</p>
        <br>
           <a class="BoutonImage" href="/assets/docs/CERTIFICAT_MEDICAL.pdf"> 
          <img src="/assets/img/DLBUTTON.png" id="BoutonImage">
          </a>
        </div>

      </div>
            <div class="thecard">

        <div class="thefront"><h1>Demande d’inscription</h1><p>Demande d’inscription à une option de base du permis de conduire des bateaux de plaisance à moteur.</p></div>

        <div class="theback"><h1>Demande d’inscription</h1><p>Remplissez ce document puis faites le nous parvenir par mail ou au siège de la SNC.</p>
        <br>
           <a class="BoutonImage" href="/assets/docs/INSCRIPTION_PERMIS_COTIER.doc"> 
          <img src="/assets/img/DLBUTTON.png" id="BoutonImage">
          </a>
        </div>

      </div>
            <div class="thecard">

        <div class="thefront"><h1>Adhésion</h1><p>Demande d'adhésion à la société nautique Carry-le-rouet.</p></div>

        <div class="theback"><h1>Adhésion</h1><p>Remplissez ce document puis faites le nous parvenir par mail ou au siège de la SNC.</p>
        <br>
        <a class="BoutonImage" href="/assets/docs/DEMANDE_ADHESION.docx"> 
          <img src="/assets/img/DLBUTTON.png" id="BoutonImage">
          </a>
        </div>

      </div>

     
    </div>
</div>
 <section class="contact section" id="contact">
                <div class="contact__container container grid">
                    <div class="contact__data">
                        <h1 class="centered__title">Puis Contactez-nous pour trouver une date:</h1><br>
                        <p class="contact__description">Permanences les mercredis et samedis de 10h à 12h ou sur rendez-vous.</p> 
                        <a class="contact__description1" href="mailto:snccarry@orange.fr" >E-MAIL: snccarry@orange.fr</a>
                        <a class="contact__description1" href="tel:+33442451312">TEL:  04 42 45 13 12</a>
                        
                    </div>
                </div>
</section>