---
title: Formations Permis Bâteau
layout: 'base.njk'
---

<!--==================== ABOUT ====================-->
<div class="formation formationcenter">
        <br><br>    <br><br>    
        <h4 class="section__title">LE NOUVEAU PERMIS COTIER (Juin 2022)</h4>

        <p class="blog__description"><div class ="animationtext">
Il faut être adhèrent ou prendre une adhésion à la Société Nautique Carry si vous nous choisissez ! </div> <br>
    <h3 class="titrepermis">LE PERMIS BATEAU COTIER SE DIVISE EN DEUX PARTIES</h3>
<div class="alinea">
- Une formation théorique <br>
- Une formation pratique <br><br>
</div>
    <h3 class="titrepermis">LA FORMATION THÉORIQUE SE PRÉPARE SUR 3 DEMI-JOURNÉES</h3>
    <div class="alinea">
•	Un premier Week-End (le samedi matin et le dimanche matin) <br>
•	Le samedi suivant de 08 h 30 à 11 h 30 <br><br>
    Suite à cette formation, vous passez un QCM dans un organisme agréé de votre choix.
40 questions :<br> Il faut 35 bonnes réponses pour obtenir le code théorique.</div> <br><br>
<h3 class="titrepermis">LA FORMATION PRATIQUE SE PREPARE SUR 2 DEMI-JOURNÉES</h3>
<div class="alinea">
•	3 heures un samedi matin en collectif de 8 h 30 à 11 h 30 <br>
•	2 heures minimum de navigation<span class="fishingsquid"><b> en solo</b>    </span> (date à définir en fonction des disponibilités du formateur et de la météo) <br><br>
</div>
<div class="alinea"><div class="alinea">
<h3 class="titrepermis"><span class="fishingsquid">LA VALIDATION DEFINITIVE DU PERMIS EST FAITE PAR LES FORMATEURS DE LA SOCIETE NAUTIQUE CARRY AGRÉÉS PAR LA DDTM</span></h3>
<br><h3 class="titrepermis">AU TOTAL VOUS BENEFICIEZ A LA SNC DE 9 h de FORMATION
THEORIQUE ET DE 5 h de FORMATION PRATIQUE.
</h3> </div></div>
        </p>
    </div><br>  <br>


</section>


<div class="centered__title"> <a href="/inscriptionpermis/" class="buttonpermis">S'inscrire à une formation</a> </div>
<br><br>